<nav class="navbar navbar-expand-lg" style="background-color: #363537; color: white;">

    <a class="navbar-brand" routerLink="" style="padding-left: 10px; font-size: 19px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag"
            viewBox="0 0 16 16">
            <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
        </svg>
        E-Commerce Website
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li *ngIf="userService.getUserDetails()" class="nav-item dropdown" style="padding-left: 10px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Categories
                </a>
                <ul *ngIf="productCategories" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let category of productCategories">
                        <a class="dropdown-item" href="#" [routerLink]="['products/category/', category]"
                            style="color: black;">{{ category | titlecase }}</a>
                        <!-- <a class="dropdown-item" href="#" routerLink="products/category/{{ category }}">{{ category | titlecase }}</a> -->
                    </li>
                </ul>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <!-- Doesn't work when if condition is currentUser -->
                <a *ngIf="!userService.getUserDetails()" class="nav-item nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <!-- <span *ngIf="userService.getUserDetails()" class="badge rounded-pill bg-danger d-md-inline" style="float:right;margin-bottom:-10px;">1</span> -->

                <a *ngIf="currentUser" class="nav-item nav-link" routerLink="cart"
                    style="cursor: pointer;">
                    Cart
                    <i class="fa-solid fa-cart-shopping px-1"></i>
                    <span *ngIf="userService.getUserDetails()" class="badge rounded-pill bg-danger">{{
                        userService.getCartQuantity(currentUser.id) }}</span>
                </a>
            </li>
            <li *ngIf="userService.getUserDetails()" class="nav-item dropdown" style="padding-left: 10px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Welcome {{ userService.getUserDetails().firstName }}!
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#" routerLink="profile" style="color: black;">View Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="logout()" style="cursor: pointer; color: black;">Logout</a>
                    </li>
                    <!-- <li>
                        <a class="dropdown-item" href="#" routerLink="cart" style="color: black;">View Cart</a>
                    </li> -->
                </ul>
            </li>
        </ul>
    </div>
</nav>