#carousel-heading, #carousel-text {
    /* Extra small devices (phones, less than 768px) */
    font-size: 10px;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        font-size: 25px;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        font-size: 30px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        font-size: 40px;
    }
}
