<div *ngIf="productList" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center align-items-center"
                style="height: 15vw; background-color: rgb(176, 176, 176);">
                <div class="col text-center">
                    <h1 id="carousel-heading" class="fw-light pt-3"><strong>Hello!</strong></h1>
                    <p id="carousel-text"><em>Enjoy our large catalogoue of products!</em></p>
                </div>
            </div>
        </div>
        <div *ngFor="let product of productList.products" class="carousel-item">
            <div class="d-flex justify-content-center align-items-center" style="height: 15vw">
                <img [src]="product.thumbnail" class="d-block w-100" alt="">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container mt-5 mb-4" *ngIf="productList">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col" *ngFor="let product of productList.products">
            <div class="card mx-auto my-auto shadow p-2 mb-5 bg-body rounded" style="width: 18.5rem; height: 26rem;">
                <img class="card-img-top" [src]="product.thumbnail" alt="Card image cap" style="height: 15rem;">
                <div class="card-body">
                    <!-- <p class="card-title" style="font-size: medium;"><strong>{{ product.title }}</strong></p> -->
                    <a routerLink="/products/{{ product.id }}" style="text-decoration: none;" (click)="sendProd(product)">
                        <!-- <a href="" style="text-decoration: none;" (click)="sendProd(product)"> -->
                        <h5 class="card-title">{{ product.title }}</h5>
                    </a>
                    <p class="card-text">Price: {{ product.price | currency:"USD" }}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-warning" style="width: max-content;">Add to Cart</a>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-danger" style="width: max-content;">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>