<div class="container-fluid p-5 bg-primary text-white">
    <h1 *ngIf="userService.currentUser">Hello {{ userService.currentUser.firstName }}!</h1>
    <p *ngIf="userService.currentUser"><em>Welcome to our E-Commerce website! Happy shopping!</em></p>
    <h1 *ngIf="!userService.currentUser">Welcome to our E-Commerce website!</h1>
    <p *ngIf="!userService.currentUser"><em>Login to order our products</em></p>
</div>

<div *ngIf="productsList">
    <div class="container">
        <div *ngFor="let product of productsList.products" class="row p-5">
            <div class="card flex-row"><img class="card-img-left example-card-img-responsive" [src]="product.thumbnail"
                    style="max-width: 350px;">
                <div class="card-body">
                    <h1 class="card-title">{{ product.title }}</h1>
                    <em>
                        <p class="card-text">{{ product.description }}</p>
                    </em>
                    <br>
                    <h5 class="card-text">Price: {{ product.price | currency:"USD" }}</h5>
                    <em>
                        <h5 class="card-text" style="color: red;">Discounted by: {{ product.discountPercentage }} %</h5>
                    </em>
                </div>
            </div>
        </div>
    </div>
</div>