<div class="container-fluid" style="background-color: aqua; background-size: cover;">
    <div *ngIf="product" class="container py-4" style="background-color: aqua; background-size: cover;">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">

                        <div class="images">
                            <div class="text-center p-4">
                                <img class="img-fluid zoom" id="main-image" [src]="product.images[0]"
                                    style="max-height: 400px;" />
                            </div>
                            <div class="thumbnail text-center">
                                <img class="img-thumbnail" [src]="product.images[1]"
                                    (click)="switchImages(product.images[1], 1)" style="max-width: 5em;">
                                <img class="img-thumbnail" [src]="product.images[2]"
                                    (click)="switchImages(product.images[2], 2)" style="max-width: 5em;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <h3>{{ product.title }}</h3>
                        <hr>
                        <p><em>{{ product.description }}</em></p>
                        <h6 style="color: blue; display: inline-block;">Rating: &nbsp;</h6>
                        <i class="fa-solid fa-star" [style.visibility]="product.rating >= 1 ? 'visible' : 'hidden'"></i>
                        <i class="fa-solid fa-star" [style.visibility]="product.rating >= 2 ? 'visible' : 'hidden'"></i>
                        <i class="fa-solid fa-star" [style.visibility]="product.rating >= 3 ? 'visible' : 'hidden'"></i>
                        <i class="fa-solid fa-star" [style.visibility]="product.rating >= 4 ? 'visible' : 'hidden'"></i>
                        <i class="fa-solid fa-star" [style.visibility]="product.rating == 5 ? 'visible' : 'hidden'"></i>
                        ({{ product.rating }})
                        <span>
                            <br>
                            <h5 class="py-3" style="display: inline-block;">Price: {{ product.price | currency:
                                'USD'
                                }}
                                <span class="badge bg-warning text-dark">
                                    {{ product.discountPercentage }}% Discount!
                                </span>
                            </h5>
                        </span>
                        <br>
                        <p style="display: inline-block;">Quantity:&nbsp;&nbsp;</p>
                        <nav aria-label="quantity" style="display: inline-block;">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" (click)="removeQuantity()"
                                        [class.disabled]="productQty == 1" style="cursor: pointer;">&lt;</a></li>
                                <li class="page-item"><a class="page-link" disabled>{{ productQty }}</a></li>
                                <li class="page-item"><a class="page-link" (click)="addQuantity()"
                                        style="cursor: pointer;">&gt;</a></li>
                            </ul>
                        </nav>
                        &nbsp;
                        <span class="badge bg-secondary">{{ product.stock }} remaining</span>
                        <hr>
                        <div class="d-grid gap-2 pt-3">
                            <button class="btn btn-warning btn-lg" type="button" (click)="addToCart(product)">Add to
                                Cart</button>
                            <button class="btn btn-danger btn-lg" type="button">Buy Now</button>
                        </div>
                        <hr>
                        <div class="alert alert-warning" role="alert">
                            <strong>Product details:<br></strong>
                            <br>
                            Brand: {{ product.brand }}
                            <br>
                            Category: {{ product.category | titlecase }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>